:root {
    --background-color: #f3f3f3;
    --text-color: #000;
    --keyword-color: #4F95D1;
    --property-color: #4CB966;
    --type-color: #D14F57;
    --generic-color: #9D3AF6;
    --value-color: #515248;
    --comment-color: #888888;
}

.prose pre {
    background-color: var(--background-color);
    color: var(--text-color);
    max-width: 100%;
    overflow-x: auto;
    width: 100%;
}


.hl-keyword {
    color: var(--keyword-color);
}

.hl-property {
    color: var(--property-color);
}

.hl-attribute {
    font-family: "Radon", serif;
}

.hl-type {
    color: var(--type-color);
}

.hl-generic {
    color: var(--generic-color);
}

.hl-value {
    color: var(--value-color);
}

.hl-comment {
    color: var(--comment-color);
    font-style: italic;
}

.hl-blur {
    filter: blur(2px);
}

.hl-strong {
    font-weight: bold;
}

.hl-em {
    font-style: italic;
}

.hl-hl {
    background-color: #22DDDD33;
    display: inline-block;
    line-height: 1.9em;
    padding: 0 5px;
}

.hl-console-underline {
    text-decoration: underline;
}

.hl-console-strong {
    font-weight: bold;
}

.hl-console-comment {
    color: #888888;
}

.hl-console-em {
    color: #4F95D1;
}

.hl-console-question {
    background-color: #4F95D1;
    color: #fff;
    display: inline-block;
    line-height: 1.9em;
    padding: 0 5px;
}

.hl-console-error {
    background-color: #D14F57;
    color: #fff;
    display: inline-block;
    line-height: 1.9em;
    padding: 0 5px;
}

.hl-console-success {
    background-color: #4CB966;
    color: #fff;
    display: inline-block;
    line-height: 1.9em;
    padding: 0 5px;
}

.hl-console-h1 {
    background-color: #4AB1D1;
    color: #fff;
    font-weight: bold;
    display: inline-block;
    line-height: 2em;
    padding: 0 5px;
}

.hl-console-h2 {
    background-color: #4F95D1;
    color: #fff;
    display: inline-block;
    line-height: 1.8em;
    padding: 0 5px;
}

.hl-a {
    background-color: #FFFF0077;
}

.hl-b {
    background-color: #FF00FF33;
}

.hl-addition {
    min-width: 100%;
    background-color: #00FF0022;
}

.hl-deletion {
    min-width: 100%;
    background-color: #FF000011;
}

.hl-gutter {
    display: inline-block;
    font-size: 0.9em;
    color: #555;
    padding: 0 1ch;
    user-select: none;
}

.hl-gutter-addition {
    background-color: #34A853;
    color: #fff;
}

.hl-gutter-deletion {
    background-color: #EA4334;
    color: #fff;
}