@import "code.css";
@import "fonts.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

div a.menu-link {
    line-height: 1.4em;
}

video {
    width: 100%;
    outline: none;
}

video::-webkit-media-controls-panel {
    background-image: none !important;
    filter: brightness(0.4);
}

h1, h2, h3, h4, h5, h6 {
    & .heading-permalink {
        display: none;
    }

    &:hover .heading-permalink {
        display: inline;
    }
}

.slope {
    clip-path: polygon(
            0 0,
            100% 0,
            100% 100%,
            0 calc(100% - 10vw)
    );
    position: relative;
}

.slope-2 {
    clip-path: polygon(
            0 5%,
            100% 0,
            100% 100%,
            0 95%
    );
    position: relative;
}

.slope-3 {
    clip-path: polygon(
            0 20%,
            100% 0,
            100% 100%,
            0 100%
    );
    position: relative;
}

.header-gradient {
    background: linear-gradient(135deg, #0171bc 0%, #1b1429 100%);
}

.tempest {
    color: #1b1429;
    font-weight: bold;
    background: #29abe2;
    padding: .3em .3em .2em;
    border-radius: 5px;
    font-family: Argon, monospace;
    margin: 0 .1em;
}