@import 'code.css';
@import 'fonts.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--background: #ffffff;
	--foreground: #000000;
	--card: #4e96d1;
	--card-foreground: #ffffff;
	--primary: #4f95d1;
	--primary-foreground: #ffffff;
	--link-color: #4f95d1;
	--link-hover-color: var(--primary);
	--code-background: #f3f3f3;
	--border: var(--primary);
}

@media (prefers-color-scheme: dark) {
	:root {
		--background: #121212;
		--foreground: #cdd6f4;
		--card: #1e1e1e;
		--card-foreground: #cdd6f4;
		--primary: #89b4fa;
		--primary-foreground: #1e1e2e;
		--link-color: #89b4fa;
		--link-hover-color: var(--primary);
		--code-background: #171717;
		--border: transparent;
	}
}

body:has(.docs) {
	background-color: var(--background);
	color: var(--foreground);
}

.prose a {
	color: var(--link-color);
}

.prose a {
	color: var(--link-hover-color);
}

div a.menu-link {
	line-height: 1.4em;
}

video {
	width: 100%;
	outline: none;
}

video::-webkit-media-controls-panel {
	background-image: none !important;
	filter: brightness(0.4);
}

h1,
h2,
h3,
h4,
h5,
h6 {
	& .heading-permalink {
		display: none;
	}

	&:hover .heading-permalink {
		display: inline;
	}
}

@media (min-width: 800px) {
	.slope {
		clip-path: polygon(0 0, 100% 0, 100% 100%, 0 calc(100% - 10vw));
		position: relative;
	}

	.slope-2 {
		clip-path: polygon(0 5%, 100% 0, 100% 100%, 0 95%);
		position: relative;
	}

	.slope-3 {
		clip-path: polygon(0 20%, 100% 0, 100% 100%, 0 100%);
		position: relative;
	}
}

.header-gradient {
	background: linear-gradient(135deg, #0171bc 0%, #1b1429 100%);
}

.tempest {
	color: #1b1429;
	font-weight: bold;
	background: #29abe2;
	padding: 0.3em 0.3em 0.2em;
	border-radius: 5px;
	font-family: Argon, monospace;
	margin: 0 0.1em;
}
