@import "tailwindcss" theme(static);
@import "./typography.css";
@import "./highlighting.css";

@custom-variant light (&:where(.light, .light *));
@custom-variant dark (&:where(.dark, .dark *));

@theme {
	--container-8xl: 96rem;
	--font-display: "Kantumruy Pro Variable";
	--font-sans: "Public Sans Variable";
	--font-mono: "JetBrains Mono Variable";

	/* Falling leaves */
	--color-leaf-1: var(--color-amber-500);
	--color-leaf-2: var(--color-amber-600);
	--color-leaf-3: var(--color-amber-700);
	--color-leaf-4: var(--color-yellow-600);
	--color-leaf-5: var(--color-yellow-700);
	--color-leaf-6: var(--color-green-800);
	--color-leaf-7: var(--color-green-800);
	--color-leaf-8: var(--color-green-800);
	--color-leaf-9: var(--color-green-900);

	/* Light rays */
	--color-ray-1: var(--color-pink-100);
	--color-ray-2: var(--color-indigo-100);
	--color-ray-3: var(--color-blue-100);
	--color-ray-4: var(--color-violet-200);
	--color-ray-5: var(--color-pink-50);

	/* Dialog animations */
	--animate-dialog-open: dialog-open 150ms ease-out;
	--animate-dialog-close: dialog-close 100ms ease-in;

	@keyframes dialog-open {
		from {
			scale: 0.9;
			opacity: 0;
		}
		to {
			opacity: 1;
			scale: 1;
		}
	}

	@keyframes dialog-close {
		from {
			opacity: 1;
			scale: 1;
		}
		to {
			opacity: 0;
			scale: 0.9;
		}
	}
}

@layer base {
	:root, .light {
		font-size: 15px;
		--ui-header-height: --spacing(18);

		@media (width > 40rem) {
			--ui-header-height: --spacing(28);
		}

		--ui-primary: var(--color-blue-400);
		--ui-secondary: var(--color-green-500);
		--ui-success: var(--color-green-500);
		--ui-info: var(--color-blue-500);
		--ui-warning: var(--color-yellow-600);
		--ui-error: var(--color-red-500);

		--ui-text-dimmed: var(--color-slate-400);
		--ui-text-muted: var(--color-slate-500);
		--ui-text-toned: var(--color-slate-600);
		--ui-text: var(--color-slate-700);
		--ui-text-highlighted: var(--color-slate-900);

		--ui-bg: var(--color-white);
		--ui-bg-muted: var(--color-slate-50);
		--ui-bg-elevated: var(--color-neutral-50);
		--ui-bg-accented: var(--color-neutral-200);
		--ui-bg-inverted: var(--color-neutral-900);

		--ui-border: var(--color-slate-200);
		--ui-border-muted: var(--color-slate-200);
		--ui-border-accented: var(--color-slate-300);
		--ui-border-inverted: var(--color-slate-900);
	}

	.dark {
		--ui-primary: var(--color-blue-400);
		--ui-secondary: var(--color-neutral-400);
		--ui-success: var(--color-emerald-400);
		--ui-info: var(--color-blue-300);
		--ui-warning: var(--color-orange-300);
		--ui-error: var(--color-red-400);

		--ui-text-dimmed: var(--color-neutral-500);
		--ui-text-muted: var(--color-neutral-400);
		--ui-text-toned: var(--color-neutral-300);
		--ui-text: var(--color-neutral-200);
		--ui-text-highlighted: var(--color-white);

		--ui-bg: var(--color-neutral-950);
		--ui-bg-muted: var(--color-neutral-900);
		--ui-bg-elevated: var(--color-neutral-900);
		--ui-bg-accented: var(--color-neutral-700);
		--ui-bg-inverted: var(--color-white);

		--ui-border: var(--color-neutral-800);
		--ui-border-muted: var(--color-neutral-700);
		--ui-border-accented: var(--color-neutral-700);
		--ui-border-inverted: var(--color-white);

		--color-ray-1: var(--color-pink-900);
		--color-ray-2: var(--color-indigo-900);
		--color-ray-3: var(--color-blue-900);
		--color-ray-4: var(--color-violet-800);
		--color-ray-5: var(--color-pink-800);
	}
}

/*
|--------------------------------------------------------------------------
| Focus states
|--------------------------------------------------------------------------
*/

a:focus-visible {
	@apply outline-none underline decoration-dashed decoration-(--ui-primary)
		underline-offset-8 transition duration-200;
}

button:focus {
	outline: none;
}

a:not(.no-primary):focus:has(svg),
button:focus:has(svg) {
	@apply transition duration-200 text-(--ui-primary);
}

/*
|--------------------------------------------------------------------------
| Scrollbars
|--------------------------------------------------------------------------
*/

/* Scrollbar width */
::-webkit-scrollbar {
	width: 8px;
	height: 8px;
}

/* Scrollbar track */
::-webkit-scrollbar-track {
	background: transparent;
	border-radius: 4px;
}

/* Scrollbar thumb (the draggable part) */
::-webkit-scrollbar-thumb {
	background: var(--ui-border-accented);
	border-radius: 4px;
}

/* Scrollbar thumb on hover */
::-webkit-scrollbar-thumb:hover {
	background: var(--ui-text-dimmed);
}

/* Firefox */
* {
	scrollbar-width: thin;
	scrollbar-color: var(--ui-border-accented) transparent;
}

pre {
	line-height: 1.65em;
}

/*
|--------------------------------------------------------------------------
| Safari
|--------------------------------------------------------------------------
*/

@supports (background: -webkit-named-image(i)) {
	.safari-hide {
		display: none !important;
	}
}

/*
|--------------------------------------------------------------------------
| Fonts
|--------------------------------------------------------------------------
*/

@font-face {
	font-family: "JetBrains Mono Variable";
	font-style: normal;
	font-display: swap;
	font-weight: 100 800;
	src: url(https://cdn.jsdelivr.net/fontsource/fonts/jetbrains-mono:vf@latest/latin-wght-normal.woff2)
		format("woff2-variations");
	unicode-range:
		U+0000-00FF,
		U+0131,
		U+0152-0153,
		U+02BB-02BC,
		U+02C6,
		U+02DA,
		U+02DC,
		U+0304,
		U+0308,
		U+0329,
		U+2000-206F,
		U+20AC,
		U+2122,
		U+2191,
		U+2193,
		U+2212,
		U+2215,
		U+FEFF,
		U+FFFD;
}

/*
|--------------------------------------------------------------------------
| Home page code blocks
|--------------------------------------------------------------------------
*/

.home .code-block {
	@apply flex flex-col gap-y-0 p-0.5 rounded-xl border border-(--ui-border)
		bg-(--ui-bg-elevated)/50 overflow-hidden;

	&.named-code-block {
		.code-block-name {
			@apply mb-1.5 mt-1 px-2 font-mono text-(--ui-text-dimmed) text-sm;
		}
	}

	pre {
		@apply border border-(--ui-border) rounded-[0.6rem] p-4 my-0
			bg-(--ui-bg-elevated)/50 overflow-x-auto;
	}
}
